{include file='common/style'}
<title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理
	<span class="c-gray en">&gt;</span> 管理员列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="admin" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="admin_name" name="">
		<button type="submit" class="btn btn-success" id="submit" name=""><i class="Hui-iconfont">&#xe665;</i> 搜管理员</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="del_all()" class="btn btn-danger radius">
		<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		<a href="javascript:;" onclick="admin_add('添加管理员','adminAdd','800','500')" class="btn btn-primary radius">
		<i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span>

		<span class="r">共有数据：<strong>{$total}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">管理员列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="120">用户名</th>
				<th width="170">密码</th>
				<th width="130">电话</th>
				<th width="130">角色</th>
				<th width="130">加入时间</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{volist name='list' id='admin' }
			<tr class="text-c">
				<td><input type="checkbox" name="checkbox" value="{$admin.admin_name}"></td>
				<td>{$admin.admin_name}</td>
				<td>{$admin.admin_psw}</td>
				<td>{$admin.admin_phone}</td>
				<td>{$admin.role_id[0]['role_name']}</td>
				<td>{$admin.admin_gmt_created|date="Y-m-d H:i:s"}</td>
				<td class="td-status">
					{if condition="$admin.admin_status eq '启用'"}<span class="label label-success radius">已启用</span>
					{else /} <span class="label radius">已停用</span>
					{/if}
				</td>
				<td class="td-manage">
					<a style="text-decoration:none" onClick="admin(this,'{$admin.admin_status}','{$admin.admin_name}')" href="javascript:;">
						{if condition="$admin.admin_status eq '启用'"}<i class="Hui-iconfont">&#xe631;</i>
						{else /} <i class="Hui-iconfont">&#xe615;</i>
						{/if}
						</a>
					<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','adminEdit/admin_name/'+'{$admin.admin_name}','800','500')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick="admin_del(this,'{$admin.admin_name}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/volist}
		</tbody>
	</table>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,name){
	layer.confirm('确认要删除吗？（软删除）请谨慎删除，建议停用！',function(index){
		$.ajax({
			type: 'POST',
			url: 'adminDel',
			dataType: 'json',
			data:{'admin_name':name},
			success: function(data){
				alert(data);
				// if(data){
				// 	$(obj).parents("tr").remove();
				// 	layer.msg('已删除!',{icon:1,time:1111});
				// }else{
				// 	layer.msg('删除失败',{icon:1,time:1111});
				// }

			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}



/*管理员-编辑*/
function admin_edit(title,url,w,h){
	layer_show(title,url,w,h);
}
function admin(obj,admin_status,admin_name) {
	if(admin_status=='启用'){
		admin_stop(obj,0,admin_name);
	}else {
		admin_start(obj,1,admin_name);
	}
}
/*管理员-停用*/
function admin_stop(obj,status,name){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax(
				{
					url:'adminUpdate',
					data:{'admin_name':name,'admin_status':status},
					type:'POST',
					dataType:'json',
					success:function (result) {
						layer.msg('已停用!',{icon: 6,time:1111});
					},
					error:function () {
						layer.msg('停用失败，稍后重试!',{icon: 5,time:1111});
					}
		}
		);

		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,status,name)" href="javascript:;" title="启用" style="text-decoration:none">' +
				'<i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label radius">已停用</span>');
		$(obj).remove();
	});
}


/*管理员-启用*/
function admin_start(obj,status,name){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax(
				{
					url:'adminUpdate',
					data:{'admin_name':name,'admin_status':status},
					type:'POST',
					dataType:'json',
					success:function (result) {
						layer.msg('已启用!', {icon: 6,time:1111});
						// layer.msg('修改成功!',{icon: 6,time:1111});
					},
					error:function () {
						layer.msg('启用失败，稍后重试!',{icon: 5,time:1111});
					}
				}
		);
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,status,name)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();

	});
}
/*批量删除*/
function del_all() {
	var admin_name_all = $("input:checkbox[name='checkbox']:checked").map(function (index, elem) {
		return $(elem).val();
	}).get();
	if(admin_name_all!=''){
        layer.confirm('确认要删除选中数据吗？（软删除）请谨慎删除，建议停用！',function(index){
        // if (confirm("确定要删除选中数据吗？")) {
            $.ajax(
                {
                    url: 'adminAllDel',
                    data: {"admin_name_all": admin_name_all},
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        // alert(result);
                        if (result) {
                            layer.msg('选中数据删除成功',{icon:1,time:1111});
                        } else {
                            layer.msg('选中数据删除失败',{icon:1,time:1111});
                        }
                        setTimeout("window.location.reload()",1111);
                    },
                    error: function (result) {
                        layer.msg('服务器暂时出现问题，请稍后重试',{icon:1,time:1111});
                    }
                });
        })
    }else{
        layer.msg('请选择删除的数据',{icon:1,time:1111});

    }



	//admin_name_all=$.makeArray(admin_name_all);
	//alert(admin_name_all[1]);

}
// function show(){
// 	alert($(this).text());
// }
// 查找用户

$(document).ready(function () {


	$("td[type='td-status'] span").click(function () {
		alert($(this).text());
		alert($(this).html());//span没有val，至于form表单的中才有
	});

    $('#submit').click(function () {
        var admin_name=$.trim($('#admin_name').val());
        if(admin_name==''){
			layer.msg('请输入数据',{icon:1,time:1111});
		}else {
			window.location.href='adminSearch?admin_name='+admin_name;
		}
    });


});


</script>
</body>
</html>