<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品介绍页</title>
    <link type="text/css" rel="stylesheet" href="/static/index/css/introduction.css">
    <link type="text/css" rel="stylesheet" href="/static/index/css/com.css">
</head>

<body>
{include file='common/top'/}
<div class="comwidth"><div class="link"><a href="/">灰灰网首页</a><span>&gt;&gt;</span>"华为nova5z"</div></div>
<div class="shop-buy comwidth">
    <div class="shop-pic fl">
        <img class="pic" src="{$good_pic}">
    </div>
    <div class="shop-item fl">
        <div class="top">
            <h3>{$brand_name.$good_name}</h3>
            <p class="item">{$good_desc}</p>
            <p  class="item1"><span>{$min_price}~{$max_price}</span></p>
        </div>

        <div class="box">
            <div  class="box1 fl">选择颜色</div>
            <div class="box2 fr">
                {volist name='good_sku_pic_color' id='list'}
                <div class="pic1 color fl"><span style="line-height: 40px;float: left; padding-left: 15px;">{$list.good_sku_color}</span><img  style="height: 40px" src="{$list.good_sku_pic}"></div>
                {/volist}
            </div>
        </div>
        <div class="box" >
            <div  class="box1 fl">选择版本</div>
            <div class="box2 fr">
                {volist name='good_sku_rom_ram' id='list1'}
                <div class="pic1 ram fl"><span class="span_rom">{$list1.good_sku_rom}</span>G+<span class="span_ram">{$list1.good_sku_ram}</span>G</div>
                {/volist}
            </div>
        </div>

        <div class="box " style="clear: both">
            <div  class="box1 fl">选择数量</div>
            <div class="box2 fr">
                <div class="dl">
                    <div class="dd clearfix">
                        <div class="des_number">
                            <div class="reduction">-</div>
                            <div class="des_input">
                                <input type="text" class="num" value="1">
                            </div>
                            <div class="plus">+</div>
                        </div>
                        <span class="xg"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="des_select">
           <span></span>
        </div>
        <div class="choose">
            <span class="sku_id"  style="display: none"></span>
            <div class="add fl"><a href="#" onclick="addToShopCar()">加入购物车</a></div>
            <div class="buy fl"><a>立即购买</a></div>
        </div>


    </div>
</div>
<div class="shop-show comwidth">
    <div class="show1">
        <ul>
            <li style="border-bottom:2px solid#ca151d;">产品介绍</li><li>产品参数</li><li> 产品评价</li>
        </ul>
    </div>
    <div class="show2">
        <div class="show3">
            <div  class="show3-in" ><input type="button" value="查看商品详细信息" onclick="show4()" class="show3-btn"></div>
        </div>
        <img src="/static/index/images/introduction/item/1.jpg">
        <img src="/static/index/images/introduction/item/2.jpg">
    </div>
    <div class="show4" style="display:none;">
        <img src="/static/index/images/introduction/item/3.jpg">
        <img src="/static/index/images/introduction/item/4.jpg">
        <img src="/static/index/images/introduction/item/5.jpg">
        <img src="/static/index/images/introduction/item/6.jpg">
        <img src="/static/index/images/introduction/item/7.jpg">
        <img src="/static/index/images/introduction/item/8.jpg">
        <img src="/static/index/images/introduction/item/9.jpg">
        <img src="/static/index/images/introduction/item/10.jpg">
        <img src="/static/index/images/introduction/item/11.jpg">
        <img src="/static/index/images/introduction/item/12.jpg">
        <img src="/static/index/images/introduction/item/13.jpg">
        <img src="/static/index/images/introduction/item/14.jpg">
        <img src="/static/index/images/introduction/item/15.jpg">
        <img src="/static/index/images/introduction/item/16.jpg">
        <img src="/static/index/images/introduction/item/17.jpg">
    </div>
    <div class="show5 hide" onclick="hide4()">
        <img src="/static/index/images/introduction/6.jpg" class="show5-img">
    </div>
</div>

{include file='common/foot'/}

</body>
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/introduction.js"></script>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/admin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/admin/h-ui.admin/js/H-ui.admin.js"></script>
<script>

    function addToShopCar(){

        var good_sku_id=$.trim($('.sku_id').html());
        if(good_sku_id){
            var num=t = $('.num').val();
            $.ajax(
                {
                    url:'index/introduction/toShopCar',
                    data:{'good_sku_id':good_sku_id,'num':num},
                    type:'post',
                    dataType:'json',
                    success:function (result) {
                        if(result==0){
                            layer.msg('添加购物车失败',{icon:1,time:1111});
                        }else {
                            layer.msg('添加购物车成功', {icon: 1, time: 1111});
                        }
                    }
                }
            );
        }
    }
    $(function(){
        $('.buy').click(function () {
            var good_sku_id=$('.sku_id').html();
            if(good_sku_id!=''){
                var sku_num=$('.num').val();
                var array_info=[];
                var buy_info={};
                buy_info['good_sku_id']=good_sku_id;
                buy_info['sku_num']= sku_num;
                array_info[0]=buy_info;
                sessionStorage.setItem('array_info',JSON.stringify(array_info));
                window.location.href='payMethod';
            }else {
                alert('请选择颜色和版本');
            }
        });
        $('.test').click(function () {
            alert(1);
        });
        $('.color').click(function () {
            if(!$(this).hasClass('enable_select')) {
                $(this).addClass('select_1');
                $(this).siblings('div').removeClass('select_1');
                var color = $(this).find('span').html();
                $.ajax(
                    {
                        url: 'index/introduction/findRom',
                        data: {'color': color},
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            var result = eval(result);
                            $('.ram').each(function () {
                                var count = 0;
                                var rom = $(this).find('.span_rom').html();
                                var ram = $(this).find('.span_ram').html();
                                $(this).removeClass('enable_select');
                                $.each(result, function (index, value) {
                                    if (rom==value.good_sku_rom&&ram== value.good_sku_ram) {
                                        count = 1;
                                    }
                                });
                                if (count == 0) {
                                    $(this).addClass('enable_select');
                                }
                            });
                        },
                        error: function (result) {
                            layer.msg('服务出现问题，请刷新稍后再试', {icon: 1, time: 1111});
                        }

                    }
                );
                $('.ram').each(function () {
                    if($(this).hasClass('select_1')){
                        var rom=$(this).find('.span_rom').html();
                        var ram=$(this).find('.span_ram').html();
                        $.ajax(
                            {
                                url: 'index/introduction/getPrice',
                                data: {'sku_rom': rom,'sku_ram':ram,'sku_color':color},
                                type: 'POST',
                                dataType: 'json',
                                success: function (result) {
                                    var result= eval('('+result+')');
                                    $('.sku_id').html(result.good_sku_id);
                                    $('.item1').find('span').html(result.good_price);
                                    $('.xg').html('剩余<em>'+result.left_num+'</em>');
                                    $('.des_select').find('span').html('已选择：'+color+"  "+rom+"G+"+ram+'G  '+result.good_price+'元');
                                },
                            }
                        );
                    }
            });
            }

        });
        $('.ram').click(function () {
             if (!$(this).hasClass('enable_select')){
                $(this).addClass('select_1');
                $(this).siblings('div').removeClass('select_1');
                var rom = $(this).find('.span_rom').html();
                var ram = $(this).find('.span_ram').html();
                $.ajax(
                    {
                        url: 'index/introduction/findcolor',
                        data: {'good_sku_rom': rom,'good_sku_ram':ram,},
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            var result = eval(result);
                            $('.color').each(function () {
                                var count = 0;
                                var color = $(this).find('span').html();
                                $(this).removeClass('enable_select');
                                $.each(result, function (index, value) {
                                    if (color == value.good_sku_color) {
                                        count = 1;
                                    }
                                });
                                if (count == 0) {
                                    $(this).addClass('enable_select');
                                }
                            });
                        },
                    }
                );
                 $('.color').each(function () {
                     if($(this).hasClass('select_1')){
                         var color=$(this).find('span').html();
                         $.ajax(
                             {
                                 url: 'index/introduction/getPrice',
                                 data: {'sku_rom': rom,'sku_ram':ram,'sku_color':color},
                                 type: 'POST',
                                 dataType: 'json',
                                 success: function (result) {
                                     var result= eval('('+result+')');
                                     $('.sku_id').html(result.good_sku_id);
                                     $('.item1').find('span').html(result.good_price);
                                     $('.xg').html('剩余<em>'+result.left_num+'</em>');
                                     $('.des_select').find('span').html('已选择：'+color+"  "+rom+"G+"+ram+'G  '+result.good_price+'元');
                                 },
                             }
                         );
                     }
                 });
            }
        });

        function isJSON(str) {
            if (typeof str == 'string') {
                try {
                    var obj=JSON.parse(str);
                    if(typeof obj == 'object' && obj ){
                        return true;
                    }else{
                        return false;
                    }

                } catch(e) {
                    console.log('error：'+str+'!!!'+e);
                    return false;
                }
            }
            console.log('It is not a string!')
        }

        $('.num').change(function () {
            if(isNaN($('.num').val())){
                alert('请输入纯数字');
                $('.num').val(1);
            }
        });

        var t = $('.num');/*  数量显示框*/
        $('.plus').click(function(){
            var max=$('.xg').find('em').html();
            max=parseInt(max);
            if($.trim(max)!=""){
                if(t.val()<max){/* 数量最大不能超过商品库存量 */
                    t.val(parseInt(t.val())+1);
                }else{
                    t.val(1);
                }
            }
        });
        $('.num').blur(function () {
            var max=$('.xg').find('em').html();
            max=parseInt(max);
            if($.trim(max)!=""){
                if(t.val()>max){/* 数量最大不能超过商品库存量 */
                    t.val(1);
                }
            }
        });
        $('.num').dblclick(function () {
            t.val(1);
        });
        $('.reduction').click(function(){
            if(t.val()<=1){	/*数量最少为1  */
                t.val(1);
            }else{
                t.val(parseInt(t.val())-1);
            }
        })
    });

</script>
</html>