<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>灰灰网络购物商城首页</title>
<link type="text/css" rel="stylesheet" href="static/index/css/main.css">
<link type="text/css" rel="stylesheet" href="static/index/css/com.css">
</head>

<body>
<div id="titlebar">
    <div class="topbar">
    	<div  class="comwidth">	
            <div class="leftarea">
            <a href="#">收藏网站</a>
            </div>
            <div class="rightarea">
            <a href="login.html">请登录&emsp;&emsp;</a><a href="register.html">注册&emsp;</a>
            </div>
        </div>
    </div>
    <div class="logobar comwidth">
        <div class="logo fl">
          <img src="/static/index/img/hmall.png" alt="灰灰网">
        </div>
        <div class="search-box fr">
            <input type="text" name="search-text " class="searchtext fl">
<!--            <input type="submit" value="收 索" class="search-btn fr">-->
        </div>
<!--        <div class="shopcar fr">-->
<!--            <p><img src="/static/index/img/1.jpg" alt="购物车"></p>-->
<!--            <p class="shoptext"><a href="shopcar.html">购物车</a></p>-->
<!--            <p class="shopnum"><a href="#">3</a></p>-->
<!--        </div>-->
     </div>
     <div class="search">
         <div class="searchcom" style="margin:0 auto">
            <div class="searchpic fl" style="margin-left:50px;"><img  src="/static/index/img/4.jpg" alt="灰灰网"></div>
            <div class="searchbox fr">
                    <input type="text" name="search-text " class="searchtext fl">
                    <input type="submit" value="收 索" class="search-btn fr">
            </div>
            <div class="shopcar1 fr">
            	<p><img src="/static/index/img/1.jpg" alt="购物车"></p>
           		<p class="shoptext"><a href="shopcar.html">购物车</a></p>
              	<p class="shopnum"><a href="#">0</a></p>
            </div>            
         </div>
     </div>
     <div class="back-top"  title="回到顶部">
		<img src="/static/index/img/5.jpg" alt="顶部">
	 </div>
</div>


<div class="com fr banner_test" >
    <div class="banner-box">
        <img src="/static/index/images/index/1.jpg" alt="小米6">
        <img src="/static/index/images/index/2.jpg" alt="苹果7">
        <img src="/static/index/images/index/3.jpg" alt="三星s8">
        <img src="/static/index/images/index/4.jpg" alt="荣耀9">
        <img src="/static/index/images/index/5.jpg" alt="华为p10">
        <ul class="button">
            <li class="hover"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>
<div class="menu-box comwidth">
    <div class="first-menu-box fl">
        <ul class="first-menu fl">
            <li><a href="#" class="li_top">手 机</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:4;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">Iphone6Plus</a></dt>
                                <dt><a href="#">Iphone7</a></dt>
                                <dt><a href="#">Iphone7Plus</a></dt>
                                <dt><a href="#">小米6</a></dt>
                                <dt><a href="#">小米Mix</a></dt>
                                <dt><a href="#">小米Note2</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">华为nova2</a></dt>
                                <dt><a href="#">华为P10</a></dt>
                                <dt><a href="#">华为Mate9pro</a></dt>
                                <dt><a href="#">三星Note7</a></dt>
                                <dt><a href="#">三星S8</a></dt>
                                <dt><a href="#">三星S8Plus</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">荣耀V9</a></dt>
                                <dt><a href="#">荣耀Magic</a></dt>
                                <dt><a href="#">荣耀9</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#" >笔记本&nbsp;&&nbsp;平板</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">Apple MacBook Pro </a></dt>
                                <dt><a href="#">Apple MacBook Air </a></dt>
                                <dt><a href="#">Huawei Matebook E</a></dt>
                                <dt><a href="#">Huawei Matebook D</a></dt>
                                <dt><a href="#">Huawei Matebook X</a></dt>
                                <dt><a href="#">Xiaomi Air 12.5</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">Xiaomi Air 13.3</a></dt>
                                <dt><a href="#">Samsung xingyao</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能家居</a>
                <div class="second-menu">
                    <div class="second-menu-item"  style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">苹果 MC414CH</a></dt>
                                <dt><a href="#">苹果 ME182CH</a></dt>
                                <dt><a href="#">MAC MINI标配版</a></dt>
                                <dt><a href="#">华为 路由器WS832</a></dt>
                                <dt><a href="#">华为 WS550</a></dt>
                                <dt><a href="#">华为 路由器Q1</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">荣耀路由Pro ws851</a></dt>
                                <dt><a href="#">荣耀路由Pro游戏版</a></dt>
                                <dt><a href="#">荣耀穿墙宝WiFi</a></dt>
                                <dt><a href="#">小米路由器3</a></dt>
                                <dt><a href="#">小米路由器3c</a></dt>
                                <dt><a href="#">小米路由器pro</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能穿戴</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">苹果iPad Pro</a></dt>
                                <dt><a href="#">苹果iPad Air</a></dt>
                                <dt><a href="#">华为M3</a></dt>
                                <dt><a href="#">小米平板2</a></dt>
                                <dt><a href="#">荣耀平板2</a></dt>
                                <dt><a href="#">苹果iPad Air2</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">三星平板 Tab S</a></dt>
                                <dt><a href="#">小米平板3</a></dt>
                                <dt><a href="#">三星Galaxy Tab S3</a></dt>
                                <dt><a href="#">三星Galaxy Tab A</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">热销配件</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">小米移动电源2</a></dt>
                                <dt><a href="#">华为移动电源</a></dt>
                                <dt><a href="#">荣耀移动电源</a></dt>
                                <dt><a href="#">三星移动电源</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li style="border-bottom: none"><a href="#">增值服务&nbsp;&&nbsp;其他</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">小米头戴式耳机</a></dt>
                                <dt><a href="#">小米铁圈耳机 Pro</a></dt>
                                <dt><a href="#">小米胶囊耳机</a></dt>
                                <dt><a href="#">华为多彩蓝牙耳机</a></dt>
                                <dt><a href="#">华为运动蓝牙耳机</a></dt>
                                <dt><a href="#">华为AM60耳机</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">苹果AirPods </a></dt>
                                <dt><a href="#">苹果原装耳机</a></dt>
                                <dt><a href="#">苹果Beats Pro 头戴式</a></dt>
                                <dt><a href="#">三星AKG调音版 </a></dt>
                                <dt><a href="#">三星EG920耳式</a></dt>
                                <dt><a href="#">三星Level on Pro </a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">小米蓝牙音箱</a></dt>
                                <dt><a href="#">小米蓝牙音箱便携</a></dt>
                                <dt><a href="#">华为原装蓝牙音箱</a></dt>
                                <dt><a href="#">华为小天鹅</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<div id="blank" class="comwidth">
    <h2>热销单品</h2>
</div>

<div class="box">
    <div class="border_animation">
        <div class="border_top"></div>
        <div class="border_right"></div>
        <div class="border_bottom"></div>
        <div class="border_left"></div>
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/1.jpg" alt="苹果6splus"><h3>3999</h3><p>Apple iPhone 6s Plus (A1699) 32G 玫瑰金色 移动联通电信4G手机</p></div></a>
    </div>
    <div class="border_animation">
        <div class="border_top"></div>
        <div class="border_right"></div>
        <div class="border_bottom"></div>
        <div class="border_left"></div>
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/2.jpg" alt="荣耀v9"><h3>2999</h3><p>荣耀V9 4G手机 双卡双待 极光蓝 全网通(6GB RAM+64GB ROM)</p></div></a>
    </div>
    <div class="border_animation">
        <div class="border_top"></div>
        <div class="border_right"></div>
        <div class="border_bottom"></div>
        <div class="border_left"></div>
        <a href="introduction.html"><div class="inline-box"><img src="/static/index/images/index/first-content/3.jpg" alt="华为p10"><h3>3488</h3><p>华为 HUAWEI P104GB+64GB 全网通 双卡双待麒麟960芯片！徕卡人像</p></div></a>
    </div>
    <div class="border_animation">
        <div class="border_top"></div>
        <div class="border_right"></div>
        <div class="border_bottom"></div>
        <div class="border_left"></div>
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/4.jpg" alt="苹果7"><h3>4399</h3><p>Apple iPhone 7 (A1660) 32G 玫瑰金色 移动联通电信4G手机 </p></div></a>
    </div>
    <div class="border_animation" style="margin-right:0px;">
        <div class="border_top"></div>
        <div class="border_right"></div>
        <div class="border_bottom"></div>
        <div class="border_left"></div>
        <a href="#"><div class="inline-box1"><img src="/static/index/images/index/first-content/5.jpg" alt="三星s7edge"><h3>3999</h3><p>三星 Galaxy S7 edge（G9350）32GB 星钻黑 全网通4G手机 双卡双待</p></div></a>
    </div>
</div>


<div id="blank" style=" height:50px;">
</div>

<div class="float-box1" >
    <div class="comwidth">
        <a href="#"><div class="float2"><img src="/static/index/images/index/first-content/6.jpg" alt="华为mate9"><h3>3299</h3><p>华为 Mate 9 4GB+32GB版 月光银 移动联通电信4G手机 双卡双待</p></div></a>
        <a href="#"><div class="float2"><img src="/static/index/images/index/first-content/7.jpg" alt="小米手环2"><h3>149</h3><p>小米手环2 智能运动 心率监测 来电提醒 久坐提醒 LED显示屏 时间显示</p></div></a>
        <a href="#"><div class="float2"><img src="/static/index/images/index/first-content/8.jpg" alt="荣耀手环3"><h3>229</h3><p>荣耀手环3 碳晶黑 标准版 智能运动 50米防水 24小时心率监测 30天续航</p></div></a>
        <a href="#"><div class="float2"><img src="/static/index/images/index/first-content/9.jpg" alt="小米移动电源2"><h3>79</h3><p>小米10000毫安 移动电源2 双向快充 银色 适用于安卓/苹果/手机/平板等</p></div></a>
        <a href="#"><div class="float2" style="margin-right:0px;"><img src="/static/index/images/index/first-content/10.jpg" alt="荣耀移动电源"><h3>149</h3><p>华为荣耀移动电源10000mAh充电宝快充宝双向快充18W功率TypeC </p></div></a>
    </div>
</div>
<div id="blank" style=" height:50px;">
    <h2>电脑平板</h2>
</div>

<div class="float-box2">
<div class="float-inline-box">
	<div class="left-float fl">
        <p><a  href="#"><img src="/static/index/images/index/second-content/9.jpg" alt="华为 MateBook X"></a></p>
    </div>
    <div class="right-float fr ">
    	<ul>
        	<li><img src="/static/index/images/index/second-content/1.jpg" alt="小米笔记本">
            <h3>小米笔记本</h3><p>4999</p>
            <div class="conment">
            	<a  href="#"><img class="co" src="/static/index/images/index/second-content/11.jpg" alt="小米笔记本"></a></br>
                <h3>小米笔记本</h3><p>4999</p>
            	<a href="#">轻薄全金属机身 / 超长续航，支持1C快充 / FHD 全贴合屏幕 / 高能量密度电池</a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/2.jpg" alt="华为平板M3">
            <h3>华为平板M3</h3><p>1888</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/22.jpg" alt="华为平板M3"></a>
                <h3>华为平板M3</h3><p>1888</p>
            	<a href="#">8.4英寸 平板电脑 2560x1600 麒麟950 哈曼卡顿音效 4G/32G WiFi日晖金</a>
            </div></li>
	       	<li><img src="/static/index/images/index/second-content/3.jpg" alt="Apple iPad Pro ">
            <h3>Apple iPad Pro</h3><p>5088</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/33.jpg" alt="Apple iPad Pro "></a>
                <h3>Apple iPad Pro</h3><p>5088</p>
            	<a href="#">平板电脑 10.5 英寸（64G WLAN版/A10X芯片/Retina屏/Multi-Touch技术 MQDX2CH/A）金色</a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/4.jpg" alt="华为 Mate 9 Pro">
            <h3>华为 Mate 9 Pro</h3><p>5299</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/44.jpg" alt="华为 Mate 9 Pro"></a>
                <h3>华为 Mate 9 Pro</h3><p>5299</p>
            	<a href="#">6GB+128GB版 银钻灰 移动联通电信4G手机 双卡双待 领券立减200！2K双曲面屏幕</a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/5.jpg" alt="Apple MacBook Pro">
            <h3>Apple MacBook Pro </h3><p>13388</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/55.jpg" alt="Apple MacBook Pro"></a>
                <h3>Apple MacBook Pro </h3><p>13388</p>
            	<a href="#">13.3英寸笔记本电脑 深空灰色 Multi-Touch Bar/Core i5/8GB/256GB MLH12CH/A </a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/6.jpg" alt="荣耀9">
            <h3>荣耀9</h3><p>2499</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/66.jpg" alt="荣耀9"></a>
                <h3>荣耀9</h3><p>2499</p>
            	<a href="#">海鸥灰 全网通标配版 4GB/64GB 麒麟960 2000万变焦双摄 拍照就像用单反</a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/7.jpg" alt="小米Note2">
            <h3>小米Note2</h3><p>3299</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/77.jpg" alt="小米Note2"></a>
                <h3>小米Note2</h3><p>3299</p>
            	<a href="#">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃 / 2256万超高像素相机 骁龙821 性能版，可选 6GB + 128GB </a>
            </div>
            </li>
        	<li><img src="/static/index/images/index/second-content/8.jpg" alt="小米Mix">
            <h3>小米Mix</h3><p>3499</p>
            <div class="conment">
            	<a href="#"><img class="co" src="/static/index/images/index/second-content/88.jpg" alt="小米Mix"></a>
                <h3>小米Mix</h3><p>3499</p>
            	<a href="#">6.4" 全面屏/全陶瓷机身/骁龙 821 性能版/4400mAh 大电量/陶瓷声学系统/超声波距离感应</a>
            </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div id="blank" >
</div>

<div class="stern">
	<div class="stern-left">
	<p><a href="#">帮助中心</a><a href="#">灰灰网公告</a><a href="#">服务支持</a><a href="#">联系我们</a><a href="#">售后服务</a><a href="#">购物指南</a><a href="#">售后服务</a></p>
	<p>赞助厂商：灰灰有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：中国湖北省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：15797274125</p>
    </div>
    <div class="stern-right">
    <img src="/static/index/img/2.jpg" alt="灰灰网">
    </div>

</div>
<div class="end" >
<p>感谢你对本网站的大力支持，希望你购物愉快</p>
</div>

</body>
<!--引用外部js-->
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script>
   $(document).ready(function () {
    $('.button li').mouseover(function () {
        alert('a');
    });}
    );
</script>
</html>
