<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品分类</title>
<link type="text/css" rel="stylesheet" href="/static/index/css/category.css">
<link type="text/css" rel="stylesheet" href="/static/index/css/com.css">
</head>

<body>
<div id="titlebar">
    <div class="topbar comwidth">	
        <div class="leftarea">
        <a href="#">收藏网站</a>
        </div>
        <div class="rightarea">
        你好,欢迎来到灰灰网!<a href="login.html">[登录]  </a><a href="register.html">[注册]</a>
        </div>
    </div>
</div>
<div class="comwidth">
    <div class="top-nav-box">
        <div class="shopclassify fl">
            <h3>所有品牌分类</h3>
        </div>
        <ul class="top-nav fl">
            <li><a href="#">苹果</a></li>
            <li><a href="#">华为</a></li>            
            <li><a href="#">荣耀</a></li>        
            <li><a href="#">小米</a></li>            
            <li><a href="#">三星</a></li>  
        </ul> 
    </div>

    <div class="link"><a href="index.html">灰灰网首页</a><span>&gt;&gt;</span>"华为"</div>
    <div class="banner-box">
        <img src="/static/index/images/category/1.jpg" alt="小米6">
        <img src="/static/index/images/category/2.jpg" alt="苹果7">
        <img src="/static/index/images/category/3.jpg" alt="三星s8">
    <ul class="button">
        <li class="hover"></li>
        <li></li>
        <li></li>
    </ul>          
	</div>
	<div class="shop-box">
		<ul>
        	<li class="shop"><div class="shop-pic fl"><img class="div1" src="img/7.jpg" onclick="show1()"  ><img  src="img/6.jpg" onclick="show2()" ></div>笔记本 平板
            	<div class="shop-category shop1">
            		<table cellpadding="0", cellspacing="0">
                        <tr><td><img src="/static/index/images/category/item/1.jpg" alt="华为M3"></td>
                        <td><img src="/static/index/images/category/item/2.jpg" alt="华为matebook"></td>
                        <td><img src="/static/index/images/category/item/3.jpg"></td>
                        <td><img src="/static/index/images/category/item/4.jpg"></td>
                    </table>
                </div>
            </li>
        	<li><div class="shop-pic fl"><img class="div2" src="img/7.jpg" onclick="show3()"><img src="img/6.jpg"onclick="show4()"></div>手机 手表 手环
            	<div class="shop-category shop2">
            		<table cellpadding="0", cellspacing="0">
                        <tr><td><img src="/static/index/images/category/item/5.jpg"></td>
                        <td><img src="/static/index/images/category/item/6.jpg"></td>
                        <td><img src="/static/index/images/category/item/7.jpg"></td>
                        <td><img src="/static/index/images/category/item/8.jpg"></td></tr>
                    </table>
                </div>
            </li>
        	<li><div class="shop-pic fl"><img class="div3"src="img/7.jpg"onclick="show5()"><img src="img/6.jpg"onclick="show6()"></div>移动电源 专属配件
            	<div class="shop-category shop3">
            		<table cellpadding="0", cellspacing="0">
                        <tr><td><img src="/static/index/images/category/item/9.jpg"></td>
                        <td><img src="/static/index/images/category/item/10.jpg"></td>
                        <td><img src="/static/index/images/category/item/11.jpg"></td>
                    </table>
                </div>
            </li>
        	<li><div class="shop-pic fl"><img  class="div4"src="img/7.jpg"onclick="show7()"><img src="img/6.jpg"onclick="show8()"></div>路由器 智能家居
            	<div class="shop-category shop4">
            		<table cellpadding="0", cellspacing="0">
                        <tr><td><img src="/static/index/images/category/item/10.jpg"></td>
                        <td><img src="/static/index/images/category/item/11.jpg"></td>
                        <td><img src="/static/index/images/category/item/12.jpg"></td>
                        <td><img src="/static/index/images/category/item/13.jpg"></td>
                        <td style=" border-right:none;"><img src="/static/index/images/category/item/14.jpg"></td></tr>
                    </table>
                </div>
            </li>
            <li><div class="shop-pic fl"><img class="div5" src="img/7.jpg"onclick="show9()"><img src="img/6.jpg"onclick="show10()"></div>耳机 音响
            	<div class="shop-category shop5">
            		<table cellpadding="0", cellspacing="0">
                        <tr><td><img src="/static/index/images/category/item/15.jpg"></td>
                        <td><img src="/static/index/images/category/item/16.jpg"></td>
                        <td><img src="/static/index/images/category/item/17.jpg"></td>
                        <td><img src="/static/index/images/category/item/18.jpg"></td>
                        <td style=" border-right:none;"><img src="/static/index/images/category/item/19.jpg"></td></tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="stern">
	<div class="stern-left">
	<p><a href="#">帮助中心</a><a href="#">灰灰网公告</a><a href="#">服务支持</a><a href="#">联系我们</a><a href="#">售后服务</a><a href="#">购物指南</a><a href="#">售后服务</a></p>
	<p>赞助厂商：灰灰有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：中国湖北省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：15797274125</p>
    </div>
    <div class="stern-right">
    <img src="img/2.jpg" alt="灰灰网">
    </div>

</div>
<div class="end" >
<p>感谢你对本网站的大力支持，希望你购物愉快</p>
</div>

</body>
<!--引用外部js-->
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/category.js"></script>
</html>
