<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灰灰网络购物商城首页</title>
    <link type="text/css" rel="stylesheet" href="static/index/css/main.css">
    <link type="text/css" rel="stylesheet" href="static/index/css/com.css">
</head>

<body style="min-width: -moz-max-content;">
{include file="common/top" /}
<div id="titlebar">
    <div class="logobar comwidth">
        <div class="logo fl">
            <img src="/static/index/img/hmall.png" class="logo_img" alt="在线商城">
        </div>
        <div class="search-box fr">
            <input type="text" name="search-text " class="searchtext fl" value="网站还在建设中！！！">
        </div>
    </div>

<!--轮播-->
<div class="banner_test" >
    <div class="banner-box">
        <img src="/static/index/images/index/1.jpg" alt="小米6">
        <img src="/static/index/images/index/2.jpg" alt="苹果7">
        <img src="/static/index/images/index/3.jpg" alt="三星s8">
        <img src="/static/index/images/index/4.jpg" alt="荣耀9">
        <img src="/static/index/images/index/5.jpg" alt="华为p10">
        <ul class="button">
            <li class="hover"></li>
            <li class="li_11"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>

<!--菜单-->
<div class="menu-box comwidth">
    <div class="first-menu-box fl">
        <ul class="first-menu fl">
            <li><a href="#" class="li_top">手 机</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:4;">
                        <dl>
                            <div class="second-inline ">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                            <div class="second-inline ">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                            <div class="second-inline ">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#" >笔记本&nbsp;&&nbsp;平板</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">   </a></dt>
                                <dt><a href="#">   </a></dt>
                                <dt><a href="#">  </a></dt>
                                <dt><a href="#">  </a></dt>
                                <dt><a href="#">  </a></dt>
                                <dt><a href="#">  </a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">  </a></dt>
                                <dt><a href="#"> </a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能家居</a>
                <div class="second-menu">
                    <div class="second-menu-item"  style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#"> </a></dt>
                                <dt><a href="#"> </a></dt>
                                <dt><a href="#"> </a></dt>
                                <dt><a href="#"> </a></dt>
                                <dt><a href="#"> </a></dt>
                                <dt><a href="#"> </a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能穿戴</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">热销配件</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li style="border-bottom: none"><a href="#">增值服务&nbsp;&&nbsp;其他</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                                <dt><a href="#"></a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>


<div class="comwidth single_tittle">
    热销手机
</div>
<div class="box">
    <div class="border_animation">
        <a href="introduction?good_spu_id=1"><div class="inline-box"><img src="/static/index/images/index/first-content/2.png" alt=""><p>测试商品sku</p><span> </span></div></a>
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation" style="margin-right:0px;">
    </div>
</div>
    <div class="comwidth single_tittle">
    热销电脑
</div>
<div class="box">
    <div class="border_animation">
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation">
    </div>
    <div class="border_animation" style="margin-right:0px;">
    </div>
</div>




{include file='common/foot' /}

</div>
</body>
<!--引用外部js-->
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/admin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/admin/h-ui.admin/js/H-ui.admin.js"></script>
<script>
    $(document).ready(function () {
            if(!window.name||window.name=='back'){
                window.name = 'web';
                $.ajax({
                    url: '/index/index/get_real_ip',
                    type:'POST',
                    dataType: 'json',
                    success:function(result){
                        return result;
                    },
                });
            }
            }
    );
</script>
</html>