<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灰灰网络购物商城首页</title>
    <link type="text/css" rel="stylesheet" href="static/index/css/main.css">
    <link type="text/css" rel="stylesheet" href="static/index/css/com.css">
</head>

<body style="min-width: -moz-max-content;">
{include file="common/top" /}
<div id="titlebar">
    <div class="logobar comwidth">
        <div class="logo fl">
            <img src="/static/index/img/hmall.png" class="logo_img" alt="在线商城">
        </div>
        <div class="search-box fr">
            <input type="text" name="search-text " class="searchtext fl" value="">
        </div>
    </div>

<!--轮播-->
<div class="banner_test" >
    <div class="banner-box">
        <img src="/static/index/images/index/1.jpg" alt="小米6">
        <img src="/static/index/images/index/2.jpg" alt="苹果7">
        <img src="/static/index/images/index/3.jpg" alt="三星s8">
        <img src="/static/index/images/index/4.jpg" alt="荣耀9">
        <img src="/static/index/images/index/5.jpg" alt="华为p10">
        <ul class="button">
            <li class="hover"></li>
            <li class="li_11"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>

<!--菜单-->
<div class="menu-box comwidth">
    <div class="first-menu-box fl">
        <ul class="first-menu fl">
            <li><a href="#" class="li_top">手 机</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:4;">
                        <dl>
                            <div class="second-inline ">
                                <dt><a href="#">Iphone6Plus</a></dt>
                                <dt><a href="#">Iphone7</a></dt>
                                <dt><a href="#">Iphone7Plus</a></dt>
                                <dt><a href="#">小米6</a></dt>
                                <dt><a href="#">小米Mix</a></dt>
                                <dt><a href="#">小米Note2</a></dt>
                            </div>
                            <div class="second-inline ">
                                <dt><a href="#">华为nova2</a></dt>
                                <dt><a href="#">华为P10</a></dt>
                                <dt><a href="#">华为Mate9pro</a></dt>
                                <dt><a href="#">三星Note7</a></dt>
                                <dt><a href="#">三星S8</a></dt>
                                <dt><a href="#">三星S8Plus</a></dt>
                            </div>
                            <div class="second-inline ">
                                <dt><a href="#">荣耀V9</a></dt>
                                <dt><a href="#">荣耀Magic</a></dt>
                                <dt><a href="#">荣耀9</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#" >笔记本&nbsp;&&nbsp;平板</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">Apple MacBook Pro </a></dt>
                                <dt><a href="#">Apple MacBook Air </a></dt>
                                <dt><a href="#">Huawei Matebook E</a></dt>
                                <dt><a href="#">Huawei Matebook D</a></dt>
                                <dt><a href="#">Huawei Matebook X</a></dt>
                                <dt><a href="#">Xiaomi Air 12.5</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">Xiaomi Air 13.3</a></dt>
                                <dt><a href="#">Samsung xingyao</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能家居</a>
                <div class="second-menu">
                    <div class="second-menu-item"  style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">苹果 MC414CH</a></dt>
                                <dt><a href="#">苹果 ME182CH</a></dt>
                                <dt><a href="#">MAC MINI标配版</a></dt>
                                <dt><a href="#">华为 路由器WS832</a></dt>
                                <dt><a href="#">华为 WS550</a></dt>
                                <dt><a href="#">华为 路由器Q1</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">荣耀路由Pro ws851</a></dt>
                                <dt><a href="#">荣耀路由Pro游戏版</a></dt>
                                <dt><a href="#">荣耀穿墙宝WiFi</a></dt>
                                <dt><a href="#">小米路由器3</a></dt>
                                <dt><a href="#">小米路由器3c</a></dt>
                                <dt><a href="#">小米路由器pro</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">智能穿戴</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">苹果iPad Pro</a></dt>
                                <dt><a href="#">苹果iPad Air</a></dt>
                                <dt><a href="#">华为M3</a></dt>
                                <dt><a href="#">小米平板2</a></dt>
                                <dt><a href="#">荣耀平板2</a></dt>
                                <dt><a href="#">苹果iPad Air2</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">三星平板 Tab S</a></dt>
                                <dt><a href="#">小米平板3</a></dt>
                                <dt><a href="#">三星Galaxy Tab S3</a></dt>
                                <dt><a href="#">三星Galaxy Tab A</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li><a href="#">热销配件</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">小米移动电源2</a></dt>
                                <dt><a href="#">华为移动电源</a></dt>
                                <dt><a href="#">荣耀移动电源</a></dt>
                                <dt><a href="#">三星移动电源</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li style="border-bottom: none"><a href="#">增值服务&nbsp;&&nbsp;其他</a>
                <div class="second-menu">
                    <div class="second-menu-item" style="position:absolute; z-index:2;">
                        <dl>
                            <div class="second-inline">
                                <dt><a href="#">小米头戴式耳机</a></dt>
                                <dt><a href="#">小米铁圈耳机 Pro</a></dt>
                                <dt><a href="#">小米胶囊耳机</a></dt>
                                <dt><a href="#">华为多彩蓝牙耳机</a></dt>
                                <dt><a href="#">华为运动蓝牙耳机</a></dt>
                                <dt><a href="#">华为AM60耳机</a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">苹果AirPods </a></dt>
                                <dt><a href="#">苹果原装耳机</a></dt>
                                <dt><a href="#">苹果Beats Pro 头戴式</a></dt>
                                <dt><a href="#">三星AKG调音版 </a></dt>
                                <dt><a href="#">三星EG920耳式</a></dt>
                                <dt><a href="#">三星Level on Pro </a></dt>
                            </div>
                            <div class="second-inline">
                                <dt><a href="#">小米蓝牙音箱</a></dt>
                                <dt><a href="#">小米蓝牙音箱便携</a></dt>
                                <dt><a href="#">华为原装蓝牙音箱</a></dt>
                                <dt><a href="#">华为小天鹅</a></dt>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>


<div class="comwidth single_tittle">
    热销单品
</div>
<div class="box">
    <div class="border_animation">
        <a href="introduction?good_spu_id=1"><div class="inline-box"><img src="/static/index/images/index/first-content/2.png" alt=""><p></p><span> </span></div></a>
    </div>
    <div class="border_animation">
       <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/2.png" alt="荣耀v9"><h3>2999</h3><p>荣耀V9</p></div></a>
    </div>
    <div class="border_animation">
        <a href="introduction.html"><div class="inline-box"><img src="/static/index/images/index/first-content/3.jpg" alt="华为p10"><h3>3488</h3><p>HUAWEI P10</p></div></a>
    </div>
    <div class="border_animation">
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/4.jpg" alt="苹果7"><h3>4399</h3><p>Apple iPhone 7 </p></div></a>
    </div>
    <div class="border_animation" style="margin-right:0px;">
        <a href="#"><div class="inline-box1"><img src="/static/index/images/index/first-content/5.jpg" alt="三星s7edge"><h3>3999</h3><p>三Galaxy S7 edge</p></div></a>
    </div>
</div>
<div class="comwidth single_tittle">
    热销单品
</div>

<div class="box">
    <div class="border_animation">
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/1.jpg" alt="苹果6splus"><p>HUAWEI</p><span>￥1300 </span></div></a>
    </div>
    <div class="border_animation">
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/2.png" alt="荣耀v9"><h3>2999</h3><p>荣耀V9</p></div></a>
    </div>
    <div class="border_animation">
        <a href="introduction.html"><div class="inline-box"><img src="/static/index/images/index/first-content/3.jpg" alt="华为p10"><h3>3488</h3><p>HUAWEI P10</p></div></a>
    </div>
    <div class="border_animation">
        <a href="#"><div class="inline-box"><img src="/static/index/images/index/first-content/4.jpg" alt="苹果7"><h3>4399</h3><p>Apple iPhone 7 </p></div></a>
    </div>
    <div class="border_animation" style="margin-right:0px;">
        <a href="#"><div class="inline-box1"><img src="/static/index/images/index/first-content/5.jpg" alt="三星s7edge"><h3>3999</h3><p>三Galaxy S7 edge</p></div></a>
    </div>

</div>

{include file='common/foot' /}

</div>
</body>
<!--引用外部js-->
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script>
    $(document).ready(function () {
            if(!window.name||window.name=='back'){
                window.name = 'web';
                $.ajax({
                    url: '/index/index/get_real_ip',
                    type:'POST',
                    dataType: 'json',
                    success:function(result){
                    },
                });
            }

            }
    );
</script>
</html>