<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品介绍页</title>
<link type="text/css" rel="stylesheet" href="/static/index/css/introduction.css">
<link type="text/css" rel="stylesheet" href="/static/index/css/com.css">
</head>

<body>
<div id="titlebar">
    <div class="topbar">	
         <div class="comwidth">	
       		<div class="leftarea">
            <a href="#">收藏网站</a>
            </div>
            <div class="rightarea">
            你好,欢迎来到灰灰网!<a href="login.html">[登录]  </a><a href="register.html">[注册]</a>
            </div>
		</div>
    </div>
    <ul class="second1">
     <li class="login">
         <a href="login.html"><img src="img/8.jpg" alt="登录" class="cricle"></a>
         <div class="login-second">用户登录</div>
    </li>   
     <li class="register">
         <a href="register.html"><img src="img/9.jpg" alt="注册" class="cricle"></a>
         <div class="register-second">用户注册</div>
    </li>   
     <li class="shopcar">
         <a href="shopcar.html"><img src="img/10.jpg" alt="购物车" class="cricle"></a>
         <div class="shopcar-second">购物车</div>
    </li>   
    <li class="back-top">
         <img src="img/11.jpg" alt="顶部" class="cricle">
         <div class="back-top-second">回到顶部</div>
    </li>
    </ul>
</div>
<div class="top-nav-box comwidth">

    <div class="shopclassify fl">
        <h3>全部商品分类</h3>
    </div>
    <ul class="top-nav fl">
        <li><a href="#">手机</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">Iphone6Plus</a></li>
                        <li><a href="#">Iphone7</a></li>
                        <li><a href="#">Iphone7Plus</a></li>
                        <li><a href="#">小米6</a></li>
                        <li><a href="#">小米Mix</a></li>
                        <li><a href="#">小米Note2</a></li>
                    </ul>
                </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">华为nova2</a></li>
                        <li><a href="#">华为P10</a></li>
                        <li><a href="#">华为Mate9pro</a></li>
                        <li><a href="#">三星Note7</a></li>
                        <li><a href="#">三星S8x</a></li>
                        <li><a href="#">三星S8Plus</a></li>
                    </ul>
                 </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">荣耀V9</a></li>
                        <li><a href="#">荣耀Magic</a></li>
                        <li><a href="#">荣耀9</a></li>
                    </ul>
                 </div>
             </div>
        </li>
        <li><a href="#">笔记本</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">Apple MacBook Pro </a></li>
                        <li><a href="#">Apple MacBook Air </a></li>
                        <li><a href="#">Huawei Matebook</a></li>
                        <li><a href="#">Huawei Matebook D</a></li>
                        <li><a href="#">Huawei Matebook X</a></li>
                        <li><a href="#">Xiaomi Air 12.5</a></li>
                    </ul>
                </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">Xiaomi Air 13.3</a></li>
                        <li><a href="#">Samsung xingyao</a></li>
                    </ul>
                 </div>
             </div>
        </li>            
        <li><a href="#">路由器</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">苹果 MC414CH</a></li>
                        <li><a href="#">苹果 ME182CH</a></li>
                        <li><a href="#">MAC MINI标配版</a></li>
                        <li><a href="#">华为 路由器WS832</a></li>
                        <li><a href="#">华为 WS550</a></li>
                        <li><a href="#">华为 路由器</a></li>
                    </ul>
                </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">荣耀路由Pro ws851</a></li>
                        <li><a href="#">荣耀路由Pro游戏版</a></li>
                        <li><a href="#">荣耀穿墙宝WiFi</a></li>
                        <li><a href="#">小米路由器3</a></li>
                        <li><a href="#">小米路由器3c</a></li>
                        <li><a href="#">小米路由器pro</a></li>
                    </ul>
                 </div>
             </div>
        </li>        
        <li><a href="#">平板</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">苹果iPad Pro</a></li>
                        <li><a href="#">苹果iPad Air</a></li>
                        <li><a href="#">华为M3</a></li>
                        <li><a href="#">小米平板2</a></li>
                        <li><a href="#">荣耀平板2</a></li>
                        <li><a href="#">苹果iPad Air2</a></li>                          
                    </ul>
                </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">三星平板 Tab S</a></li>
                        <li><a href="#">小米平板3</a></li>
                        <li><a href="#">三星Galaxy Tab S3</a></li>
                        <li><a href="#">三星Galaxy Tab A</a></li>
                    </ul>
                 </div>
             </div>
        </li>            
        <li><a href="#">移动电源</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">小米移动电源2</a></li>
                        <li><a href="#">华为移动电源</a></li>
                        <li><a href="#">荣耀移动电源</a></li>
                        <li><a href="#">三星移动电源</a></li>
                    </ul>
                </div>
             </div>
        </li> 
        <li><a href="#">耳机 音响</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">小米头戴式耳机</a></li>
                        <li><a href="#">小米铁圈耳机 Pro</a></li>
                        <li><a href="#">小米胶囊耳机</a></li>
                        <li><a href="#">华为多彩蓝牙耳机</a></li>
                        <li><a href="#">华为运动蓝牙耳机</a></li>
                        <li><a href="#">华为AM60耳机</a></li>
                    </ul>
                </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">苹果AirPods </a></li>
                        <li><a href="#">苹果原装耳机</a></li>
                        <li><a href="#">苹果Beats Pro 头戴式</a></li>
                        <li><a href="#">三星AKG调音版 </a></li>
                        <li><a href="#">三星EG920耳式</a></li>
                        <li><a href="#">三星Level on Pro </a></li>
                    </ul>
                 </div>
                <div class="one fl">
                    <ul> 
                        <li><a href="#">小米蓝牙音箱</a></li>
                        <li><a href="#">小米蓝牙音箱便携</a></li>
                        <li><a href="#">华为原装蓝牙音箱</a></li>
                        <li><a href="#">华为小天鹅</a></li>
                    </ul>
                 </div>
             </div>
        </li> 
        <li><a href="#">手环 手表</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">华为智能手环B3 </a></li>
                        <li><a href="#">华为手表Watch2</a></li>
                        <li><a href="#">苹果手表Watch2</a></li>
                        <li><a href="#">小米手环2</a></li>
                        <li><a href="#">三星gear fit2</a></li>
                        <li><a href="#">荣耀手环3</a></li>
                    </ul>
                </div>
             </div>
        </li> 
        <li><a href="#">智能家居</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">小米空气净化器</a></li>
                        <li><a href="#">米家扫地机器人</a></li>
                        <li><a href="#">米家IH电饭煲</a></li>
                        <li><a href="#">荣耀探空精灵</a></li>
                        <li><a href="#">华为盒子</a></li>
                        <li><a href="#">华为无线电力猫</a></li>
                    </ul>
                </div>
             </div>
        </li>              
        <li><a href="#">专属配件</a>
            <div class="second-box">
                <div class="one fl"> 
                    <ul> 
                        <li><a href="#">小米支架式自拍杆</a></li>
                        <li><a href="#">米家随身风扇</a></li>
                        <li><a href="#">小米体脂称</a></li>
                        <li><a href="#">荣耀体脂称</a></li>
                        <li><a href="#">荣耀全景摄像头</a></li>
                        <li><a href="#">荣耀运动腰包</a></li>
                    </ul>
                </div>
             </div>
        </li> 
    </ul> 
</div>

<div class="comwidth"><div class="link"><a href="index.html">灰灰网首页</a><span>&gt;&gt;</span>"华为p10"</div></div>

<div class="shop-buy comwidth">
    <div class="shop-pic fl">
        <img class="pic" src="/static/index/images/introduction/1.jpg">
    </div>
    <div class="shop-item fl">
        <div class="top">
            <h3>HUAWEI P10 4GB+64GB 全网通版（曜石黑）</h3>
            <p class="item">直降300元，原价3788元，可享6期免息。8月26日-31日限量赠送价值99元多彩软壳，数量有限赠完即止。 新一代徕卡双镜头，多彩外观设计，时尚简约。</p>
            <p  class="item1">￥3488.00</p>
        </div>
            <span>服务说明</span>
            <span class="item2">已满66元已免运费 由灰灰商城负责发货，并提供售后服务</span>
        <div class="box">
            <div  class="box1 fl">选择颜色</div>
            <div class="box2 fr">
                <div class="pic1 fl"><img src="/static/index/images/introduction/2.jpg"></div>
                <div class="pic1 fl"><img src="/static/index/images/introduction/3.jpg"></div>
                <div class="pic1 fl"><img src="/static/index/images/introduction/4.jpg"></div>
                <div class="pic1 fl"><img src="/static/index/images/introduction/5.jpg"></div>
            </div>
        </div>
        <div class="box">
            <div  class="box1 fl">选择版本</div>
            <div class="box2 fr">
                <div class="pic1 fl">3G+32G</div>
                <div class="pic1 fl">4G+64G</div>
                <div class="pic1 fl">4G+128G</div>
            </div>
        </div>
        <div class="box">
            <div  class="box1 fl">选择套餐</div>
            <div class="box2 fr">
                <div class="pic1 fl">官方标配</div>
                <div class="pic1 fl">套餐一</div>
                <div class="pic1 fl">套餐二</div>
                <div class="pic1 fl">套餐三</div>
            </div>
        </div>
        <div class="box">
            <div  class="box1 fl">选择数量</div>
            <div class="box2 fr">
                <div class="dl">
                    <div class="dd clearfix">
                        <div class="des_number">
                            <div class="reduction">-</div>
                            <div class="des_input">
                                <input type="text">
                            </div>
                            <div class="plus">+</div>
                        </div>
                        <span class="xg">限购<em>66</em>件</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="des_select">
            已选择<span>"钻雕蓝|4G+64G"|官方标配</span>
        </div>
        <div class="choose">
            <div class="add fl"><a href="#">加入购物车</a></div>
            <div class="buy fl"><a href="#">立即购买</a></div>
        </div>
    </div>
</div>

<div class="shop-show comwidth">
    <div class="show1">
        <ul>
            <li style="border-bottom:2px solid#ca151d;">产品介绍</li><li>产品参数</li><li> 产品评价</li>
        </ul>
    </div>
    <div class="show2">
    <div class="show3">
        <div  class="show3-in" ><input type="button" value="查看商品详细信息" onclick="show4()" class="show3-btn"></div>
    </div>
    <img src="/static/index/images/introduction/item/1.jpg">
    <img src="/static/index/images/introduction/item/2.jpg">
    </div>
    <div class="show4" style="display:none;">
    <img src="/static/index/images/introduction/item/3.jpg">
    <img src="/static/index/images/introduction/item/4.jpg">
    <img src="/static/index/images/introduction/item/5.jpg">
    <img src="/static/index/images/introduction/item/6.jpg">
    <img src="/static/index/images/introduction/item/7.jpg">
    <img src="/static/index/images/introduction/item/8.jpg">
    <img src="/static/index/images/introduction/item/9.jpg">
    <img src="/static/index/images/introduction/item/10.jpg">
    <img src="/static/index/images/introduction/item/11.jpg">
    <img src="/static/index/images/introduction/item/12.jpg">
    <img src="/static/index/images/introduction/item/13.jpg">
    <img src="/static/index/images/introduction/item/14.jpg">
    <img src="/static/index/images/introduction/item/15.jpg">
    <img src="/static/index/images/introduction/item/16.jpg">
    <img src="/static/index/images/introduction/item/17.jpg">
    </div>
    <div class="show5 hide" onclick="hide4()">
    <img src="/static/index/images/introduction/6.jpg" class="show5-img">
    </div>
</div>

<div class="stern">
	<div class="stern-left">
	<p><a href="#">帮助中心</a><a href="#">灰灰网公告</a><a href="#">服务支持</a><a href="#">联系我们</a><a href="#">售后服务</a><a href="#">购物指南</a><a href="#">售后服务</a></p>
	<p>赞助厂商：灰灰有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：中国湖北省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：15797274125</p>
    </div>
    <div class="stern-right">
    <img src="img/2.jpg" alt="灰灰网">
    </div>
</div>
<div class="end" >
<p>感谢你对本网站的大力支持，希望你购物愉快</p>
</div>

</body>
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/introduction.js"></script>
</html>
