<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>购物车</title>
<link type="text/css" rel="stylesheet" href="/static/index/css/com.css">
<link type="text/css" rel="stylesheet" href="/static/index/css/shopcar.css">
</head>

<body>
<div class="topbar">	
     <div class="comwidth">	
        <div class="leftarea">
        <a href="#">收藏网站</a>
        </div>
        <div class="rightarea">
        你好,欢迎来到灰灰网!<a href="login.html">[登录]  </a><a href="register.html">[注册]</a>
        </div>
    </div>
</div>
<div class="logobar">
    <div class="comwidth">
        <div class="logo fl">
          <img src="img/2.jpg" alt="灰灰网">
        </div>
    <div class="search-box fr">
        <input type="text" name="search-text " class="searchtext fl">
        <input type="submit" value="收 索" class="search-btn fr">
    </div>
    </div>
</div>

<div class="shoppingCart comwidth">
 <div class="shop-item">
 	<div class="top">
    <h2>全部商品</h2>
    </div>
    <div class="center">
    <span style="margin-left:15px;"><input type="checkbox" name="choose" value="choose">&nbsp;全选</span>
    <span style="margin-left:100px;">商品信息</span>
    <span style="margin-left:400px;">单价</span>
    <span style="margin-left:160px;">数量</span>
    <span style="margin-left:160px;">金额</span>
    </div>
    <div class="middle">
        <div class="item fl">
            <div class="choose1 fl"><input type="checkbox" name="choose" value="choose">&nbsp;选择</div>
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/1.jpg">
            </div>
            <div class="center1 fl">荣耀9魅海蓝4G+64G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥2499.00
                </div>
                <div class="center2 fl">
                    <div class="box">
                          <div class="des_number">
                              <div class="reduction">-</div>
                              <div class="des_input">
                                  <input type="text" value="66">
                              </div>
                              <div class="plus">+</div>
                          </div>
                    </div>
                </div>
                <div class="right2 fl">
                ￥164934.00
                </div>
            </div>
        </div>
        <div class="item fl">
            <div class="choose1 fl"><input type="checkbox" name="choose" value="choose">&nbsp;选择</div>
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/2.jpg">
            </div>
            <div class="center1 fl">小米Note2 6G+64G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥2999.00
                </div>
                <div class="center2 fl">
                    <div class="box">
                          <div class="des_number">
                              <div class="reduction">-</div>
                              <div class="des_input">
                                  <input type="text" value="66">
                              </div>
                              <div class="plus">+</div>
                          </div>
                    </div>
                </div>
                <div class="right2 fl">
                ￥197934.00
                </div>
            </div>
        </div>
        <div class="item fl">
            <div class="choose1 fl"><input type="checkbox" name="choose" value="choose">&nbsp;选择</div>
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/3.jpg">
            </div>
            <div class="center1 fl">华为P10 6G+128G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥3488.00
                </div>
                <div class="center2 fl">
                    <div class="box">
                          <div class="des_number">
                              <div class="reduction">-</div>
                              <div class="des_input">
                                  <input type="text" value="66">
                              </div>
                              <div class="plus">+</div>
                          </div>
                    </div>
                </div>
                <div class="right2 fl">
                ￥230208.00
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span style="margin-left:15px;"><input type="checkbox" name="choose" value="choose">&nbsp;全选</span>
        <span style="margin-left:60px;">删除</span>
        <span style="margin-left:460px;">已选商品1件</span>
        <span style="margin-left:150px;">金额</span>
        <div class="right fr">
        <div class="money fl" style="margin-right:35px; width:140px; color:#F00; font-size:22px;">￥593006.00</div>
        <span style="margin-left:10px;">
        <div class="count fr"><a href="submitorder.html"><input type="button"  value="结算" style="background-color:#F00; height:40px; font-size:18px; width:70px;"></a></div></span>
        </div>
    </div>
 </div>
</div>

<div class="stern">
	<div class="stern-left">
	<p><a href="#">帮助中心</a><a href="#">灰灰网公告</a><a href="#">服务支持</a><a href="#">联系我们</a><a href="#">售后服务</a><a href="#">购物指南</a><a href="#">售后服务</a></p>
	<p>赞助厂商：灰灰有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：中国湖北省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：15797274125</p>
    </div>
    <div class="stern-right">
    <img src="img/2.jpg" alt="灰灰网">
    </div>
</div>
<div class="end" >
<p>感谢你对本网站的大力支持，希望你购物愉快</p>
</div>

</body>
</html>
