<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>确认订单</title>
<link type="text/css" rel="stylesheet" href="/static/index/css/com.css">
<link type="text/css" rel="stylesheet" href="/static/index/css/submitorder.css">
</head>

<body>
<div class="topbar">	
     <div class="comwidth">	
        <div class="leftarea">
        <a href="#">收藏网站</a>
        </div>
        <div class="rightarea">
        你好,欢迎来到灰灰网!<a href="login.html">[登录]  </a><a href="register.html">[注册]</a>
        </div>
    </div>
</div>

<div class="address comwidth">
<p class="address-p">收货地址</p>
    <div class="address-item">
       <ul class="address-list">
        <li><span class="address-text">详细地址：</span><input type="text"  placeholder="如：湖北省黄石市腾龙学生公寓"class="input" style="width:350px;"><span class="notice">我们网站严格遵守客户私人地址，不会私自泄密 放心填写</span></li>
        <li><span class="address-text">收&nbsp;货&nbsp;人&nbsp;：</span><input type="text" placeholder="如：灰灰" class="input"><span class="notice">我们网站绝对不会泄露个人信息，放心填写</span></li>
        <li><span class="address-text">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机 ：</span><input type="text" placeholder="如：12312312" class="input"><span class="notice">我们网站绝对不会发骚扰短信对你造成影响，放心填写</span></li>
    </ul>

    </div>
    
    </div>
</div>
<div class="pay comwidth">
    <p>&nbsp;支付方式</p>
    <ul class="shopping_list">
        <li><input type="radio" class="radio" id="r1"><label for="r1">&nbsp;微信支付</label><span class="notice1">亿万用户的选择，更快更放心</span></li>
        <li><input type="radio" class="radio" id="r2"><label for="r2">&nbsp;支付宝支付</label><span class="notice1">支付订单，有机会赢取1999红包</span></li>
    </ul>
</div>
<div class="shoppingCart comwidth">
 <div class="shop-item">
 	<div class="top">
    <h3>送货清单</h3><span class="return fr" style="margin:-40px 15px 0 0;"><a href="shopcar.html">返回购物车修改</a></span>
    </div>
    <div class="center">
    <span style="margin-left:30px;">商品信息</span>
    <span style="margin-left:560px;">单价</span>
    <span style="margin-left:180px;">数量</span>
    <span style="margin-left:140px;">金额</span>
    </div>
    <div class="middle">
        <div class="item fl">
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/1.jpg">
        </div>
            <div class="center1 fl">荣耀9魅海蓝4G+64G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥2499.00
                </div>
                <div class="center2 fl">
                66件
                </div>
                <div class="right2 fl">
                ￥164934.00
                </div>
            </div>
        </div>
        <div class="item fl">
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/2.jpg">
        </div>
            <div class="center1 fl">小米Note2 6G+64G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥2999.00
                </div>
                <div class="center2 fl">
                66件
                </div>
                <div class="right2 fl">
                ￥197934.00
                </div>
            </div>
        </div>
        <div class="item fl">
            <div class="left1 fl">
            <img src="/static/index/images/shopcar/3.jpg">
        </div>
            <div class="center1 fl">华为P10 6G+128G</div>
            <div class="right1 fr">
            	<div class="left2 fl">
                ￥3488.00
                </div>
                <div class="center2 fl">
                66件
                </div>
                <div class="right2 fl">
                ￥230208.00
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
    	<p>结算账单</p>
        <span style="margin-left:890px;">金额</span>
        <div class="right fr">
        <div class="money fl" style="margin-right:5px; width:140px; color:#F00; font-size:22px; "><span>￥593006.00</span></div>
        <span style="margin-left:10px;">
        <div class="count fr"><a href="#"><input type="button"  value="提交订单" style="background-color:#F00; height:40px; font-size:18px; width:100px; margin-right:5px;"></a></div></span>
        </div>
    </div>
 </div>
</div>

<div class="stern">
	<div class="stern-left">
	<p><a href="#">帮助中心</a><a href="#">灰灰网公告</a><a href="#">服务支持</a><a href="#">联系我们</a><a href="#">售后服务</a><a href="#">购物指南</a><a href="#">售后服务</a></p>
	<p>赞助厂商：灰灰有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：中国湖北省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：15797274125</p>
    </div>
    <div class="stern-right">
    <img src="img/2.jpg" alt="灰灰网">
    </div>
</div>
<div class="end" >
<p>感谢你对本网站的大力支持，希望你购物愉快</p>
</div>

</body>
</html>
