<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权成功</title>
</head>
<body>

<script>
    function privance() //省
    {
        $.post("{:url('index/User/privance')}", {param1: 'value1'}, function(data, textStatus, xhr) {
            var html;
            for (var i = 0; i<data.length; i++) {
                html += "<option value='"+data[i]['id']+"'>"+data[i]['district_name']+"</option>";
            }
            $('.province').html(html);
        });
    }
    privance();

    function city() //市
    {
        var provinceid = $('.province').val(); //省id
        $.post("{:url('index/User/city')}", {provinceid: provinceid}, function(data, textStatus, xhr) {
            var html;
            for (var i = 0; i<data.length; i++) {
                html += "<option value='"+data[i]['id']+"'>"+data[i]['district_name']+"</option>";
            }
            $('.city').html(html);
            area();
        });
    }
    city();

    function area() //县
    {
        var cityid = $('.city').val(); //市id
//alert(cityid);
        $.post("{:url('index/User/area')}", {cityid: cityid}, function(data, textStatus, xhr) {
            var html;
            for (var i = 0; i<data.length; i++) {
                html += "<option value='"+data[i]['id']+"'>"+data[i]['district_name']+"</option>";
            }
            $('.area').html(html);
        });
    }
    area();

    $('.province').change(function(event) { //选择省
        city();
    });

    $('.city').change(function(event) { //选择市
        area();
    });
    /* 省市区三级联动 end */

</script>


</body>
</html>

